<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>  
    <h1>Quora Posts</h1>
    <form action="/posts" method="post">
        <input placeholder="username" name="username"><br><br>
        <textarea placeholder="write your post" name="content" class="content" rows="10" cols="35"></textarea><br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>